<h2 class="naslov">Doktori i sestre</h2>

<table class="doctor-table">
  <thead>
    <tr>
      <th>Doktor</th>
      <th>Medicinske sestre</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doctor of doctors">
      <td>{{ doctor.doktor_ime }}</td>
      <td>
        <button (click)="toggleNurses(doctor)">
          {{ doctor.showNurses ? 'Sakrij' : 'Prikaži' }}
        </button>
        <ul *ngIf="doctor.showNurses" class="nurse-list">
          <li *ngFor="let sestra of doctor.medicinske_sestre">
            {{  sestra  }}
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
