/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';

body {
  background-color: rgba(20, 146, 204, 0.4);
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}
